# General
node_modules/
.*.swp
.*.swo

# Server
server/app.js
server/routes/**/*.js
server/models/**/*.js
server/public/javascripts
server/public/stylesheets

# Client
client/app/components/
client/app/javascripts/vendor
client/app/javascripts/application.js
